.login{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  font-family: sans-serif;
}

.titlelogin{
  text-align: center;
}
.auth{
  width: 45%;
}

.login input{
  width: 100%;
  padding: 15px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.71);
  border-radius: 4px;
  margin-bottom: 25px;
}

.buttonlogin{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttonlogin button{
  background-color: black;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  font-weight: bolder;
}

.accepte{
  display: flex;
}
.accepte input{
  padding: 5px !important;
  display: flex;
  width: auto;
  height: auto;
  background-color: white;
}
.register{
  width: 45%;
}

.forminfo p{
  font-size: 0.85rem;
  margin: 30px 0;
}

.textlogin{
  font-size: 0.75rem;
  text-align: justify;
}